/* Write your custom CSS here */
.prospect-list {
    overflow: hidden;
    padding-top: 5px;
}

.prospect-list-padding {
    padding-bottom: 10px;
}

.prospect-list .secondary-label {
    color: #ffffff;
    text-align: left;
    font-size: 8.5pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
}

.prospect-list .primary-label {
    text-align: left;
    font-size: 10pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 120px;
}

.prospect-list .expected-value {
    color: #22baa0;
    text-align: right;
    font-size: 11pt;
}

.prospect-label-wrapper {
    overflow: hidden;
    height: 42px;
    padding-right: 5px;
}

.padding-0 {
    padding: 0px;
}

.padding-0-l-i {
    padding-left: 0px !important;
}

.margin-0-t-i {
    margin-top: 0px !important;
}


.padding-0-i {
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

}

.margin-0 {
    margin: 0px;
}

margin-10-w {
    margin-left: 10px;
    margin-right: 10px;
}

.padding-5 {
    padding: 5px;
}

.padding-5-w {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-5-l {
    padding-left: 5px;
    padding-right: 0px;
}

.padding-5-r {
    padding-left: 0px;
    padding-right: 5px;
}

.padding-5-t {
    padding-top: 5px;
}

.margin-5-t {
    margin-top: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-10-w {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-5-v {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-5 {
    padding: 5px;
}

.kpi-heading {
    padding: 5px !important;
    height: 30px !important;
}

.margin-10 {
    margin: 10px;
}

.margin-10-b {
    margin-bottom: 10px;
}

.margin-15-l {
    margin-left: 15px;
}

#prospect-list-quick-settings {
}

.menu.accordion-menu a {
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.display-block {
    display: block;
}

.vertical-align {
    vartical-align: middle;
    height: inherit;
}

#header {
    position: relative;
    min-height: 150px;
}
#header-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

.pie-chart {
    position: relative;
    display: inline-block;
}
.pie-chart > span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-top: -2px;
    right: 0;
    left: 0;
    text-align: center;
}

.page-title {
    height: 166px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    overflow-y: hidden;
}

.enable-page-title-scroll {
    width: 897px;
}


.kpi-label {
    padding-bottom: 12px;
    margin: 0px;
    text-align: center;
    padding-top: 0px;
    border: 0px;

}

.level-label {
    padding-bottom: 5px;
    margin: 0px;
    padding-top: 5px;
    vertical-align: text-top;
    text-align: left;
    border: 0px;
}

.level-number {
    margin-top: 0px !important;
    text-align: center;
    padding-top: 0px;
    vertical-align: center;
    border: 0px;
}

.level-progress-bar {
    vertical-align: bottom;
}

.kpi-pad {
    padding-left: 100px;
    padding-right: 100px;
}

.center {
    margin: auto;
    width: 50%;
}

.center-wrapper {
    text-align: center;
}

.kpi-panel-4 {
    margin-right: 50px !important;
}


.kpi-panel {
    position: relative;
    background: #fff;
    width: 150px;
    margin-left: 0px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.level-panel {
    position: relative;
    background: #fff;
    width: 150px;
    height: 150px;
    margin-left: 24px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.kpi-panel-big {
    position: relative;
    background: #fff;
    width: 440px;
    height: 150px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);


}

.kpi-panel-invisible {
    position: relative;
    width: 440px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.chart {
    display: inline-block;
    width: 110px;
    margin: 15px auto 5px;
    padding: 0 10px;
}

.chart-sm {
    display: inline-block;
    width: 110px;
    margin: 8px auto 2px;
    padding: 0 0px;
}




.percentage,


.percentage {
    font-size: 17px;
}

sup {
    top: -0.2em;
    margin-left: 1px;
}

.ctrl {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #c4cdcc;
    word-spacing: 5px;
}
.ctrl span {
    cursor: pointer;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
    color: #000;
}

.meta {
    margin: auto;
    max-width: 280px;
    border-top: 1px solid rgba(155, 155, 155, 0.2);
    text-align: center;
}

.user-level {
    font-size: 24pt;
    margin: 0px !important;
}

.user-level-number {
    font-size: 48pt;
    margin-top: 5px !important;
    margin-bottom: 20px !important;
}

.user-level-sm {
    font-size: 16pt;
    margin: 0px !important;
}

.user-level-number-sm {
    font-size: 32pt;
    margin-top: 0px !important;
    margin-bottom: 11px !important;
}

.dashboard-breadcrumb-span {
    font-size: 18px;
}

.dashboard-breadcrumb-span:hover {
    color: #00aba9;
}



.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    font-family: FontAwesome;
    content: "\f054";

    /*content: "->\00a0"; */
}


.contacts-panel-heading {
    padding-top: 5px !important;
    height: 90px !important;
}

.contacts-body {
    padding-top: 15px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.kpi-btn {
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 0;
    outline: none!important;
}

.kpi-btn:focus,
.kpi-btn:active:focus,
.kpi-btn.active:focus,
.kpi-btn.focus,
.kpi-btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.kpi-btn:hover,
.kpi-btn:focus,
.kpi-btn.focus {
    color: #333;
    text-decoration: none;
}
.kpi-btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.kpi-btn.disabled,
.kpi-btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
a.kpi-btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}




.contacts-tabs-contained {
    width: 100%;
    height: 100px;
}

.contact-name-header {
    margin-top: 17px;
}

.contact-page-hr {
    margin-bottom: 5px;
}

.contact-action-buttons {
    text-align: end;
}


.solo-label {
    margin-top: 5px;
}


.flex-row {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row wrap;
}

.flex-row-between {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap-reverse; /* Safari 6.1+ */
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.flex-row-around {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.shrink-item {
    flex-shrink: 1;
}

#personal-details td {
    padding: 5px !important;
}

#professional-details td {
    padding: 5px !important;
}


.contacts-timeline-padding {
    padding-left: 0;
    /*padding-right: 15px !important;*/
}

#main-wrapper {
    margin: 15px;
}

.prospect-list {
    overflow: hidden;
}

.contact-name-tabs {
    font-size: 9.5pt;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}


.add-contact-method {
    color: #00E466;
    height: 30px;
    display: inline-block;
    width: 100%;
}


.icon-add-contact-method {
    color: #1a7179;
    margin-top: 10px;

}

#small-btn-text {
    size: 7px !important;
}

td i {
    text-align:center;
}

.activity-feed-panel {
    -webkit-box-shadow: 0 0 0  0  rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0  0  0 rgba(0, 0, 0, 0);
    box-shadow: 0 0  0  0  rgba(0, 0, 0, 0);
}






@media (max-width: 768px) {
    #menu-toggle-icon {
        display: none;
    }
    #menu-toggle-switch {
        display: none;
    }
}

@media (max-width: 992px) {
    .page-content.container .navbar {
        width: 970px;
    }
    #dashboard-sidebar  {
        margin: 0px !important;
    }

    .contacts-timeline-padding {
        /*padding-left: 15px !important;
        padding-right: 15px !important;*/
    }
}


@media (max-width: 1124px) {
    .secondary-kpis {
        display: none;
    }
}

@media (min-width: 1124px) {
    .enable-page-title-scroll {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .contact-name-tabs {
        font-size: 9.5pt;
        width: 120px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
    }
}

@media  (min-width: 1301px) {
    #large-screen-kpis {
        display: none;
    }

    .contact-name-tabs {
        font-size: 9.5pt;
        width: 220px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
    }
}

@media  (max-width: 1300px) {

    #xlarge-screen-kpis {
        display: none;
    }

    .contact-panel-job-title {
        display: none;
    }

    .page-title {
        height: 166px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 7px;
        padding-bottom: 7px;

    }

    .kpi-label {
        padding-bottom: 12px;
        margin: 0px;
        text-align: center;
        padding-top: 0px;
        border: 0px;

    }

    .level-label {
        padding-bottom: 5px;
        margin: 0px;
        padding-top: 5px;
        vertical-align: text-top;
        text-align: left;
        border: 0px;
    }

    .level-label-sm {
        padding-bottom: 5px;
        margin: 0;
        padding-top: 5px;
        vertical-align: text-top;
        text-align: left;
        border: 0px;
    }

    .level-number {
        margin-top: 0px !important;
        text-align: center;
        padding-top: 0px;
        vertical-align: center;
        border: 0px;
    }

    .level-number-sm {
        margin-top: 0px !important;
        text-align: center;
        padding-top: 0px;
        vertical-align: center;
        border: 0px;
    }

    .level-progress-bar {
        vertical-align: bottom;
    }

    .kpi-pad {
        padding-left: 100px;
        padding-right: 100px;
    }

    .center {
        margin: auto;
        width: 50%;
    }

    .center-wrapper {
        text-align: center;
    }

    .kpi-panel-4 {
        margin-right: 50px !important;
    }


    .kpi-panel {
        position: relative;
        background: #fff;
        width: 150px;
        margin-left: 0px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    }

    .level-panel {
        position: relative;
        background: #fff;
        width: 150px;
        height: 150px;
        margin-left: 24px;
        margin-right: 2px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    }

    .level-panel-sm {
        position: relative;
        background: #fff;
        width: 85px;
        height: 100px;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 12px;
        margin-bottom: 0px;
        text-align: center;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    }

    .kpi-panel-big {
        position: relative;
        background: #fff;
        width: 440px;
        height: 150px;
        margin-left: 2px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

    }

    .kpi-panel-invisible {
        position: relative;
        width: 440px;
        margin-left: 2px;
        margin-right: 5px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
    }

    .chart {
        display: inline-block;
        width: 110px;
        margin: 15px auto 5px;
        padding: 0 10px;
    }

    .chart-sm {
        display: inline-block;
        width: 110px;
        margin: 8px auto 2px;
        padding: 0 0px;
    }
}

