/* Write your custom CSS here */
.prospect-list {
    overflow: hidden;
    padding-top: 5px;
}

.prospect-list-padding {

    padding-bottom: 10px;
}

.prospect-list .secondary-label {
    color: #ffffff;
    text-align: left;
    font-size: 9.5pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 205px;
}

.prospect-list .primary-label {
    text-align: left;
    font-size: 12pt;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 205px;
}

.prospect-list .expected-value {
    color: #22baa0;
    text-align: right;
    font-size: 12pt;
}

.prospect-label-wrapper {
    overflow: hidden;
    height: 42px;
    padding-right: 5px;
}

.padding-0 {
    padding: 0px;
}

.padding-0-t-i {
    padding-top: 0px !important;
}

.margin-0-t-i {
    margin-top: 0px !important;
}


.padding-0-i {
    padding: 0px !important;
}

.margin-0 {
    margin: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-5-w {
    padding-left: 5px;
    padding-right: 5px;
}

.padding-5-l {
    padding-left: 5px;
    padding-right: 0px;
}

.padding-5-r {
    padding-left: 0px;
    padding-right: 5px;
}

.padding-5-t {
    padding-top: 5px;
}

.margin-5-t {
    margin-top: 5px;
}

.padding-10 {
    padding: 10px;
}

padding-10-w {
    padding-left: 10px;
    padding-right: 10px;
}

.padding-5-v {
    padding-top: 5px;
    padding-bottom: 5px;
}

.padding-5 {
    padding: 5px;
}

.kpi-heading {
    padding: 5px !important;
    height: 30px !important;
}

.margin-10 {
    margin: 10px;
}

margin-15-l {
    margin-left: 15px;
}

#prospect-list-quick-settings {
}

.menu.accordion-menu a {
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.display-block {
    display: block;
}

.vertical-align {
    vartical-align: middle;
    height: inherit;
}

#header {
  position: relative;
  min-height: 150px;
}
#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
}

.pie-chart {
  position: relative;
  display: inline-block;
}
.pie-chart > span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -2px;
  right: 0;
  left: 0;
  text-align: center;
}

.page-title {
    height: 180px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.kpi-label {
    padding-bottom: 15px;
    margin: 0px;
    text-align: center;
    padding-top: 0px;
    border: 0px;
}

.level-label {
    padding-bottom: 5px;
    margin: 0px;
    padding-top: 5px;
    vertical-align: text-top;
    text-align: left;
    border: 0px;
}

.level-number {
    margin-top: 0px !important;
    text-align: center;
    padding-top: 0px;
    vertical-align: center;
    border: 0px;
}

.level-progress-bar {
    vertical-align: bottom;
}

.kpi-pad {
    padding-left: 100px;
    padding-right: 100px;
}

.center {
    margin: auto;
    width: 50%;
}

.center-wrapper {
    text-align: center;
}


.kpi-panel {
    position: relative;
    background: #fff;
    width: 150px;
    margin: auto;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.level-panel {
    position: relative;
    background: #fff;
    width: 150px;
    height: 149px;
    margin: auto;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.kpi-panel-big {
    position: relative;
    background: #fff;
    width: 440px;
    margin: auto;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.kpi-panel-invisible {
    position: relative;
    width: 440px;
    margin: auto;
    text-align: center;
}

.chart {
    display: inline-block;
    width: 110px;
    margin: 15px auto 5px;
    padding: 0 10px;
}

.chart-sm {
    display: inline-block;
    width: 110px;
    margin: 8px auto 2px;
    padding: 0 0px;
}



.percentage,


.percentage {
    font-size: 17px;
}

sup {
    top: -0.2em;
    margin-left: 1px;
}

.ctrl {
    position: absolute;
    right: 10px;
    top: 5px;
    color: #c4cdcc;
    word-spacing: 5px;
}
.ctrl span {
    cursor: pointer;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
    color: #000;
}

.meta {
    margin: auto;
    max-width: 280px;
    border-top: 1px solid rgba(155, 155, 155, 0.2);
    text-align: center;
}

.user-level {
    font-size: 24pt;
    margin: 0px !important;
}

.user-level-number {
    font-size: 48pt;
    margin-top: 5px !important;
    margin-bottom: 19px !important;
}

.dashboard-breadcrumb-span {
    font-size: 18px;
}

.dashboard-breadcrumb-span:hover {
    color: #00aba9;
}



.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    font-family: FontAwesome;
    content: "\f054";

    /*content: "->\00a0"; */
}


.contacts-panel-heading {
    padding-top: 5px !important;
}

.contacts-body {
    padding-top: 5px !important;
    padding-left: 35px !important;
    padding-right: 35px !important;
}



.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.kpi-btn {
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 0;
    outline: none!important;
}

.kpi-btn:focus,
.kpi-btn:active:focus,
.kpi-btn.active:focus,
.kpi-btn.focus,
.kpi-btn:active.focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.kpi-btn:hover,
.kpi-btn:focus,
.kpi-btn.focus {
    color: #333;
    text-decoration: none;
}
.kpi-btn:active,
.btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.kpi-btn.disabled,
.kpi-btn[disabled],
fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}
a.kpi-btn.disabled,
fieldset[disabled] a.btn {
    pointer-events: none;
}




.contacts-tabs-contained {
    width: 100%;
    height: 100px;
}

